/* ------------------------NAVBAR-------------- */
html {
  font-family: "Montserrat", sans-serif;
}
.container-50 {
  position: static;
  display: flex;
  width: 90%;
  margin-right: 0px;
  margin-left: 0px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.logoNavbar,
.logoNavbar a:link {
  text-decoration: none;
  font-size: 1.5rem;
}
.RunZadarHeaderLogo {
  /* text-decoration: none; */

  font-size: 1.5rem;
}
.navigation-link {
  color: #0d3151;
  font-size: 0.8rem;
}
.navigation-link:hover {
  color: hsla(208.13397129186603, 0%, 32.39%, 1);
  font-weight: 600;
}
.prijava {
  background-color: rgb(40, 108, 191);
  padding: 5px 12px;
  border-radius: 3px;
}
.prijava a {
  color: white !important;
}
.headerTitle {
  font-family: "Montserrat";
  font-weight: 600;
  color: hsla(208, 3.66%, 66.79%, 1);
  letter-spacing: 4px;
}

/* --------------------------navbar------------------ */

/* -----------------------HERO---------------- */
/* .heroWrap {
  display: flex; 
  align-items: center;
  justify-content: center; 
  position: relative; 
   position: relative;
  width: 100%;
  min-width: 720px;
  height: auto;
  overflow: hidden;
} */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.17);
}

.ctaText {
  position: relative;
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  z-index: 10;
  color: #fff;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
}

.buttonCta > a:link {
  color: #fff;
}

.heroTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 6rem;
  font-weight: 700;
  margin-left: 100px;
  /* margin-bottom: 50px; */
  color: white;
  z-index: 3;
}
.heroText {
  font-size: 1rem;
  color: white;
  margin-left: 100px;
  margin-bottom: 1rem;
  z-index: 3;
}

/* --------------------------hero------------------- */
/* /-------------------------Raspored treninga ------------------ */

/* --------------------raspored treninga------------------- */
/* ------------------------zasto skola------------------ */

.container {
  margin: 0 auto;
}
.tabs {
  margin: 0 auto;
  width: 80%;
}
/* -----------------------zasto skola-------------------------- */
/* --------------------testimonial---------------------- */

/* -------------------------testimonial----------------------- */

/* ---------------------------o nama------------------------- */

/* --------------------o nama------------------------------------ */
/* ------------------------video sekcija---------------------------- */

/* ----------------------------video sekcija---------------------------- */
/* -----------------------------form------------------------------------- */

/* -------------------------------form------------------------------------ */
.heading {
  text-align: center;
  margin-bottom: 30px;
}
.text-field {
  width: 500px;
  padding: 10px;
  font-size: 15px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #9a9a9a;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(66, 66, 66, 0);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0);
}
.submit-button {
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  width: 200px;
  font-size: 22px;
  font-weight: 100;
  padding: 10px 20px;
  background-color: #3d94f6;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.submit-button:hover {
  background: #3689e7;
  /* border: solid #337fed 0; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

/* .submit-button:active {
  position: relative;
  top: 1px;
} */
.field-label {
  margin-bottom: 5px;
  margin-top: 10px;
}
.formPolje {
  background-color: #ffffff3a !important;
}
.formPolje option {
  color: black;
}

/* --------------------------utrke-------------------------------------------------- */

.sekcijaUtrke {
  background-color: rgba(231, 231, 231, 0.7);
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.tabs-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}
/* _--------REACT SPRING---------------------------- */
.c {
  position: absolute;
  width: 95%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
  cursor: pointer;
  will-change: transform, opacity;
}
.singleRaspored {
  margin: 10px;
  width: 95%;
  max-width: 500px;
  height: 300px;
}

.front,
.back {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}
.overlayLight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 10000 !important;
}

.jedan {
  background-image: url("../images/terminiBack.jpeg");
  background-position: center;
}
.dva {
  background-image: url("../images/putovanjaBack.jpg");
  background-position: center;
}
.tri {
  background-image: url("../images/sm_1\ \(3\).jpg");
  background-position: center;
}
.cetri {
  background-image: url("../images/sm_1\ \(4\).jpg");
  background-position: center;
}
.pet {
  background-image: url("../images/sm_1\ \(5\).jpg");
  background-position: center;
}
.sest {
  background-image: url("../images/uspjesiBack.jpg");
  background-position: center;
}

.jedanF {
  background-image: url("../images/termini.jpg");
  background-position: center;
  background-size: cover;
}
.dvaF {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
}
.triF {
  background-image: url("../images/1\ \(9\).jpg");
  background-position: center;
  background-size: cover;
}
.cetriF {
  background-image: url("../images/1\ \(10\).jpg");
  background-position: center;
  background-size: cover;
}
.petF {
  background-image: url("../images/gdje.jpg");
  background-position: center;
  background-size: cover;
}
.sestF {
  background-image: url("../images/uspjesi.jpg");
  background-position: center;
  background-size: cover;
}

/* ------------------------------utrke---------------------------------------------- */
/* -------------------------------footer--------------------- */

.sekcijaFooter {
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #1056b1ec;
  display: flex;
  color: white;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.sekcijaFooter a {
  color: rgb(110, 177, 231) !important;
  font-weight: 400;
}
.column {
  margin-bottom: 15px !important;
}

.column {
  display: flex;
  flex-direction: column;
  width: 80%;
}
/* .column a {
  color: rgb(96, 96, 96);
} */
.footer-text {
  text-align: left;
}
.stupci2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* ----------------------------------footer---------------------- */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
.jumbotron {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 400px;
  color: white;
  padding-top: 10rem !important;
}

/* .navlinks a:link {
  text-decoration: none;
  color: rgb(70, 67, 67) !important;
} */
.navlinks a:link {
  margin: 0 20px;
}
/* .footer-link {
  color: #243d52;
} */
.stupac h3 {
  text-align: center;
}
.frameSquare {
  max-width: 80%;
  margin: 0 auto 20px auto;
}
.formular {
  margin-left: 80px;
}
body {
  margin: 0 auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='3600' preserveAspectRatio='none' viewBox='0 0 1440 3600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1392%26quot%3b)' fill='none'%3e%3crect width='1440' height='3600' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M-75.4 562.45 a261.95 261.95 0 1 0 523.9 0 a261.95 261.95 0 1 0 -523.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.04)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M539.53 3019.09 a247.09 247.09 0 1 0 494.18 0 a247.09 247.09 0 1 0 -494.18 0z' fill='rgba(28%2c 83%2c 142%2c 0.04)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M339.146%2c897.959C415.385%2c897.092%2c486.198%2c858.836%2c525.114%2c793.272C564.867%2c726.299%2c568.721%2c643.282%2c530.638%2c575.346C491.722%2c505.923%2c418.709%2c459.563%2c339.146%2c461.52C262.532%2c463.405%2c201.538%2c517.962%2c163.306%2c584.382C125.178%2c650.622%2c108.321%2c730.924%2c145.703%2c797.588C183.785%2c865.499%2c261.291%2c898.845%2c339.146%2c897.959' fill='rgba(28%2c 83%2c 142%2c 0.04)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1181.494%2c1483.994C1237.853%2c1487.114%2c1299.649%2c1480.656%2c1331.354%2c1433.957C1366.388%2c1382.355%2c1366.821%2c1312.422%2c1333.979%2c1259.398C1302.616%2c1208.763%2c1241.015%2c1189.83%2c1181.494%2c1192.01C1126.066%2c1194.04%2c1073.746%2c1221.201%2c1047.2%2c1269.901C1021.672%2c1316.733%2c1029.519%2c1373.631%2c1057.862%2c1418.815C1084.395%2c1461.114%2c1131.638%2c1481.234%2c1181.494%2c1483.994' fill='rgba(28%2c 83%2c 142%2c 0.04)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1392'%3e%3crect width='1440' height='3600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  color: hsla(0, 0%, 11%, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  font-kerning: normal;
  max-width: 1400px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
/* button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"], */
/* button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
} */
/* [type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
} */
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 2rem !important;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
.logoImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage img {
  width: 300px;
  margin: 30px auto 90px auto;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
.carousel .slide {
  background-color: unset;
}

@media only screen and (max-width: 1000px) {
  .ZadarNightRunColumn {
    display: none;
  }
  .stupci2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .heroTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: 20px;
    color: white;
    z-index: 3;
  }
  .heroText {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 650px) {
  .ZadarNightRunColumn {
    display: none;
  }
  .formular {
    margin-left: 20px;
    margin-right: 20px;
  }
  .stupci2 {
    display: flex;
    flex-direction: column;
  }
  .heroTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: 20px;
    color: white;
    z-index: 3;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .heroTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
    z-index: 3;
  }
  .heroText {
    margin-left: 30px;
  }
  .headerTitle {
    font-family: "Montserrat";
    font-weight: 600;
    color: hsla(208, 3.66%, 66.79%, 1);
    letter-spacing: 2.3px;
    font-size: 15px !important;
  }
  .logoImage img {
    width: 200px;
  }
}
